@keyframes nav-content-box {
    from {
        transform: translateX(-100%);    
    } to {
        transform: translateX(0%);
    }
}

@keyframes nav-back-box {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0%);
    }
}