.primary-heading {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 10px;
}

.secondary-heading {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.tertiary-heading {
    font-size: 23px;
    text-transform: uppercase;

}

.paragraph {
    font-weight: 400;
    font-size: 15px;
}

.paragraph-small {
    font-size: 13px;
    line-height: 1.2;
}