@mixin absTop {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin absBottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

@mixin absCenterXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absCenterY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// MEDIA QUERY MANAGER
/*
0 - 450px:        Phone small
450 - 600px:      Phone
600 - 900px:      Tablet portrait
900 - 1200px:     Table landscape
1200+:      is where normal styles apply

$breakpoint argument choices:
- phone-s => 31.25em
- phone => 37.5em
- tab-portrait => 56.25em
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-s {
        @media (max-width: 28.12em) {  // 450px
            @content
        };
    }

    @if $breakpoint == phone {
        @media (max-width: 37.5em) {  // 600px
            @content
        };
    }

    @if $breakpoint == tab-portrait-s {  // 750px
        @media (max-width: 46.87em) {
            @content;
        }
    }
    
    @if $breakpoint == tab-portrait {
        @media (max-width: 56.25em) {  // 900px
            @content
        };
    }

    @if $breakpoint == tab-landscape {  // 1200px
        @media (max-width: 75em) {
            @content
        }
    };
}