.header {
    background-image: url("../images/general/header-background.png");
    background-position: right top;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;

    &__content {
        color: $color-white;
        display: grid;
        grid-template-columns: 1.3fr 3fr;
        align-items: center;
        grid-column-gap: 8rem;

        @include respond(tab-landscape) {
            grid-template-columns: 1.5fr 3fr;
            grid-column-gap: 5rem;
        }

        @include respond(tab-portrait) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);
            grid-row-gap: 6rem;
        }
    }

    &__content-right {
        .button-tertiary {
            margin-top: 4.5rem;
        }

        @include respond(tab-portrait) {
            width: 85%;
            margin: 0 auto;
            text-align: center;
        }

        @include respond(tab-portrait-s) {
            width: 85%;
        }

        @include respond(phone) {
            width: 95%;
        }
    }

    &__profile-image {
        margin: 0 auto;
        display: block;
        width: 100%;
        position: relative;

        @include respond(tab-portrait) {
            width: 33%;
        }

        @include respond(tab-portrait-s) {
            width: 42%;
        }

        @include respond(phone) {
            width: 53%;
        }

        @include respond(phone-s) {
            width: 60%;
        }
    }
}

.introduction {
    width: 100%;
    padding: 5.5rem 1rem;

    &__heading {
        h3, img {
            display: inline-block;
        }

        img {
            width: 5.5%;
            top: 1rem;
            margin-right: 1rem;
            position: relative;
        }
    }
}