.nav {
    padding: 1rem;
    position: absolute;
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: center;

    &__items {
        right: 0;
        position: absolute;
        list-style-type: none;
    }

    &__item {
        display: inline-block;
        margin: 0 1.5rem;
        font-weight: 500;

        a {
            color: white;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }

    &__logo {
        width: 100%;

        img {
            width: 80%;
            position: relative;
        }
    }

    &__burger {
        display: none;

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2rem;
            font-size: 3rem;
            color: white;
        }
    }
}

.sidebar {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &__content-box {
        z-index: 100;
        background-color: white;
        width: 100vw;
        height: 100vh;
        position: relative;
        transition: .5s ease all;
        animation: nav-content-box .5s ease backwards;
    }

    &__close {
        position: absolute;
        top: 2.5rem;
        right: 3.5rem;

        i {
            color: black;
            font-size: 3rem;
        }
    }

    &__back-box {
        z-index: 90;
        background-color: black;
        width: 100vw;
        height: 100vh;
        position: absolute;
        transition: .5s cubic-bezier(.24,.82,.56,.93) all;
        animation: nav-back-box .5s cubic-bezier(.24,.82,.56,.93);
    }

    &___items {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:  translate(-50%, -50%);
        list-style: none;
        width: 80%;
    }

    &__item {
        a {
            display: block;
            letter-spacing: 2px;
            color: black;
            font-size: 3rem;
            margin: 2rem 0;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
        }
    }
}